@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&family=Noto+Serif:wght@500;600&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Manrope", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Noto Serif", ui-serif, Georgia, serif;
  
  --color-surface: #f9f9f9;
  --color-on-surface: #1a1c1c;
  --color-on-surface-variant: #42474e;
  --color-primary: #002a48;
  --color-secondary: #0082D6;
  --color-outline: #72777f;
  --color-surface-container: #eeeeee;
}

@layer base {
  body {
    @apply bg-surface text-on-surface font-sans;
  }
}
